:root {
  --blue: #374BFE;
  --turquoise: #2AB6BC;
}

#tiles-wrapper {
  width: 100vw;
  height: 300px;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  background-color: var(--turquoise);
}

#hero {
  position: relative;
}

#hero-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 110px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 2.5rem;
}